main{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
main:first-child{
    gap: 0;
}
/* h2{
    color: rgb(31, 194, 163);
} */
main>h1{
    text-align: center;
    padding: 35px;
    box-sizing: border-box;
    color:var(--defcolor);
    text-shadow: var(--defheadcolor);
} 
main>.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    background-color: var(--defbgtable);
    border: 2px white solid;
    border-radius: 20px;
    margin: 0 0 20px 0;
}
main>.container span{
    padding: 34px 34px;
}
main>.container img{
    height: 40vh;
    border-radius: 50%;
}
main>.container:nth-child(odd){
    flex-direction: row-reverse;
}
main>.container>span>:nth-child(1){
    font-size: 28px;
    color: var(--deftxtcolor);
}
main>.container>span>:nth-child(2){
    font-size: 15px;
    color: var(--deftxtcolor);
}

button{
    padding: 8px;
    width: 100px;
    border: none;
    color: white;
    border-radius: 20px;
    border: 1px solid var(--defcolor);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

button:hover{
    background-color: rgb(1, 34, 30);
}
main>div.container>span>a>button>img{
    height: 15px;
}

@media screen and (max-width:1100px) {
    main>.container img{
        height: 20vw;
        border-radius: 50%;
    }
    main>.container>span>:nth-child(1){
        font-size: 25px;
    }
    main>.container>span>:nth-child(2){
        font-size: 15px;
    }
    main>.container span{
        padding: 17px 17px;
    }
    main >:first-child{
        font-size: 20px;
    }
    button{
        width: 50px;
        color: white;
        border-radius: 20px;
        border: 1px solid var(--defcolor);
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5px;
        height: 10px;
    }
}
@media screen and (max-width:700px) {
    main>.container>span>:nth-child(1){
        font-size: 10px;
    }
    main>.container>span>:nth-child(2){
        font-size: 5px;
    }
    main>.container span{
        padding: 17px 17px;
    }
}